* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active {
    background: #f6f5ae;
    color: black;
}
nav{
    background: #f24236;
    
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {

}
nav ul li a {
    display: block;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat';
}
nav ul li a:hover {
    background: #f6f5ae;
    color: black;
}
header {
    background: url('https://images.pexels.com/photos/459653/pexels-photo-459653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
header .contenedor {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 40px 0px;
    margin-left: 10px;
}
header h1 {
    font-family: 'Montserrat';
    color: white;
    font-weight: 300;
    font-size: 40px;
    margin: 30px 0px;
    text-shadow: 1px 1px 10px #000;
}
header a {
    text-decoration: none;
    background: #131313;
    padding: 20px 40px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 300;
    display: inline-block;
}
header a:hover {
    background: black;
}
footer {
    background: #131313;
    color: white;
    padding: 80px;
}