:root {
    --colorTextos: #131313;
}
.active {
    background: #f6f5ae;
    color: black;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: #f24236;

}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {

}
nav ul li a {
    display: block;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat';
}
nav ul li a:hover {
    background: #f6f5ae;
    color: black;
}

section {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
    font-family: 'Montserrat';
    width: 100%;
}
form {
    background: #f2f2f2;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255,255,255,0.8);
}
.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form .grupo {
    position: relative;
    margin: 30px 0;
    width : 80%;
}
input, textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    min-width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: solid 1px var(--colorTextos);
    resize: none;
}
input:focus, textarea:focus {
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {  /* Hermanos Directos : ~~ */
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196f3;

}
label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
    pointer-events: none;
}
.barra {
    position: relative;
    display: block;
    width: 100%;
}
input:focus~.barra::before,
textarea:focus~.barra::before {
    width: 100%;
}
.barra::before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    transition: 0.3s ease all;
    left: 0%;
}
button {
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

@media (max-width: 1100px){
    form {
        width: 50%;
    }
}
@media (max-width: 600px) {
    form {
        width: 60%;
    }
}
@media (max-width: 450px) {
    form {
        width: 80%;
    }
}
@media (max-width: 300px) {
    form {
        width: 90%;
    }
}

footer {
    background: #131313;
    color: white;
    padding: 80px;
    text-align: center;
}