<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/index.css")
        title WebSite Danben
    body
        nav
            ul
                li: a(href="#").active Inicio
                li: a(href="/nosotros") Nosotro
                li: a(href="/registrate") Registrate
                li: a(href="/login") Inicia Sesion
        header
            .contenedor
                h1 SiteWeb Danben
                a(href="/registrate") Comenemos
        footer
            p Copyraigth Danben