<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Inicia Sesion | Website
        link(rel="stylesheet", href="css/resgistrate.css")
    body
        nav
            ul
                li: a(href="/") Inicio
                li: a(href="/nostros") Nosotro
                li: a(href="/registrate") Registrate
                li: a(href="#").active Inicia Sesion
        section
            form(method="post" action="/login")
                .form
                    h1 Inicia Sesion
                    .grupo
                        input(type="email" name="email" required)
                        span.barra
                        label(for="") Email
                    .grupo
                        input(type="password" name="password" required)
                        span.barra
                        label(for="") Password
                    button(type="submit") Inicia Sesion

                    p= respuesta
        
        footer
            p Copyraigth Danben
