<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tu perfil | Website
        link(rel="stylesheet", href="css/resgistrate.css")
    body
        nav
            ul
                li: a(href="/") Tasks
                li: a(href="/nostros") Add One Note
                li: a(href="/registrate")=user
        section
            
        
        footer
            p Copyraigth Danben
            p=user
