<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Registrate | Website
        link(rel="stylesheet", href="css/resgistrate.css")
    body
        nav
            ul
                li: a(href="/") Inicio
                li: a(href="#") Nosotro
                li: a(href="/registrate").active Registrate
                li: a(href="/login") Inicia Sesion
        section
            form(method="post" action="/registrate")
                .form
                    h1 Registrate
                    .grupo
                        input(type="text" name="user" required)
                        span.barra
                        label(for="") Usuario
                    .grupo
                        input(type="email" name="email" required)
                        span.barra
                        label(for="") Email
                    .grupo
                        input(type="password" name="password" required)
                        span.barra
                        label(for="") Password
                    button(type="submit") Registrate
        footer
            p Copyraigth Danben
